In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("train_1.txt")
test = pd.read_csv("test_1.txt")

In [3]:
train.head()

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
0,pretentious,critical,incomplete,3,convenient,convenient,nonprob,priority,spec_prior
1,great_pret,improper,incomplete,2,convenient,inconv,problematic,recommended,spec_prior
2,pretentious,less_proper,incomplete,3,less_conv,inconv,nonprob,recommended,priority
3,usual,less_proper,incomplete,more,less_conv,convenient,slightly_prob,recommended,priority
4,great_pret,critical,complete,1,critical,inconv,problematic,priority,spec_prior

In [4]:
test.head()

,parents,has_nurs,form,children,housing,finance,social,health
0,usual,proper,complete,2,less_conv,convenient,problematic,not_recom
1,pretentious,very_crit,completed,more,less_conv,inconv,nonprob,priority
2,great_pret,proper,incomplete,3,convenient,convenient,slightly_prob,recommended
3,pretentious,less_proper,foster,more,convenient,convenient,slightly_prob,recommended
4,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended

In [6]:
train["parents"].unique()

array(['pretentious', 'great_pret', 'usual'], dtype=object)

In [7]:
train["parents"] = train["parents"].map({'pretentious':0, 'great_pret':1, 'usual':2})

In [8]:
train.head()

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
0,0,critical,incomplete,3,convenient,convenient,nonprob,priority,spec_prior
1,1,improper,incomplete,2,convenient,inconv,problematic,recommended,spec_prior
2,0,less_proper,incomplete,3,less_conv,inconv,nonprob,recommended,priority
3,2,less_proper,incomplete,more,less_conv,convenient,slightly_prob,recommended,priority
4,1,critical,complete,1,critical,inconv,problematic,priority,spec_prior

In [9]:
test["parents"] = test["parents"].map({'pretentious':0, 'great_pret':1, 'usual':2})

In [10]:
test.head()

,parents,has_nurs,form,children,housing,finance,social,health
0,2,proper,complete,2,less_conv,convenient,problematic,not_recom
1,0,very_crit,completed,more,less_conv,inconv,nonprob,priority
2,1,proper,incomplete,3,convenient,convenient,slightly_prob,recommended
3,0,less_proper,foster,more,convenient,convenient,slightly_prob,recommended
4,2,proper,complete,1,convenient,convenient,slightly_prob,recommended

In [11]:
train["has_nurs"].unique()

array(['critical', 'improper', 'less_proper', 'very_crit', 'proper'],
      dtype=object)

In [12]:
train["has_nurs"] = train["has_nurs"].map({'critical':0, 'improper':1, 'less_proper':2, 'very_crit':3, 'proper':4})
test["has_nurs"] = test["has_nurs"].map({'critical':0, 'improper':1, 'less_proper':2, 'very_crit':3, 'proper':4})

In [17]:
train["form"].unique()

array(['incomplete', 'complete', 'completed', 'foster'], dtype=object)

In [19]:
train["form"] = train["form"].map({'incomplete':0, 'complete':1, 'completed':1, 'foster':2})
test["form"] = test["form"].map({'incomplete':0, 'complete':1, 'completed':1, 'foster':2})

In [20]:
train.head()

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
0,0,0,0,3,convenient,convenient,nonprob,priority,spec_prior
1,1,1,0,2,convenient,inconv,problematic,recommended,spec_prior
2,0,2,0,3,less_conv,inconv,nonprob,recommended,priority
3,2,2,0,more,less_conv,convenient,slightly_prob,recommended,priority
4,1,0,1,1,critical,inconv,problematic,priority,spec_prior

In [21]:
train["housing"].unique()

array(['convenient', 'less_conv', 'critical'], dtype=object)

In [22]:
train["housing"] = train["housing"].map({'convenient':0, 'less_conv':1, 'critical':2})
test["housing"] = test["housing"].map({'convenient':0, 'less_conv':1, 'critical':2})

In [23]:
train.head()

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
0,0,0,0,3,0,convenient,nonprob,priority,spec_prior
1,1,1,0,2,0,inconv,problematic,recommended,spec_prior
2,0,2,0,3,1,inconv,nonprob,recommended,priority
3,2,2,0,more,1,convenient,slightly_prob,recommended,priority
4,1,0,1,1,2,inconv,problematic,priority,spec_prior

In [24]:
train["finance"].unique()

array(['convenient', 'inconv'], dtype=object)

In [25]:
train["finance"] = train["finance"].map({'convenient':0, 'inconv':1})

In [26]:
test["finance"] = test["finance"].map({'convenient':0, 'inconv':1})

In [27]:
train["social"].unique()

array(['nonprob', 'problematic', 'slightly_prob'], dtype=object)

In [28]:
train["social"] = train["social"].map({'nonprob':0, 'problematic':1, 'slightly_prob':2})
test["social"] = test["social"].map({'nonprob':0, 'problematic':1, 'slightly_prob':2})

In [29]:
train.head()

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
0,0,0,0,3,0,0,0,priority,spec_prior
1,1,1,0,2,0,1,1,recommended,spec_prior
2,0,2,0,3,1,1,0,recommended,priority
3,2,2,0,more,1,0,2,recommended,priority
4,1,0,1,1,2,1,1,priority,spec_prior

In [30]:
train["health"].unique()

array(['priority', 'recommended', 'not_recom'], dtype=object)

In [31]:
train["health"]= train["health"].map({'priority':0, 'recommended':1, 'not_recom':2})
test["health"]= test["health"].map({'priority':0, 'recommended':1, 'not_recom':2})

In [32]:
train["NURSERY"].unique()

array(['spec_prior', 'priority', 'not_recom', 'very_recom'], dtype=object)

In [33]:
train["NURSERY"]= train["NURSERY"].map({'spec_prior':0, 'priority':1, 'not_recom':2, 'very_recom':3})

In [34]:
train.head()

   parents  has_nurs  form children  housing  finance  social  health  NURSERY
0        0         0     0        3        0        0       0       0        0
1        1         1     0        2        0        1       1       1        0
2        0         2     0        3        1        1       0       1        1
3        2         2     0     more        1        0       2       1        1
4        1         0     1        1        2        1       1       0        0

In [35]:
test.head()

   parents  has_nurs  form children  housing  finance  social  health
0        2         4     1        2        1        0       1       2
1        0         3     1     more        1        1       0       0
2        1         4     0        3        0        0       2       1
3        0         2     2     more        0        0       2       1
4        2         4     1        1        0        0       2       1

In [36]:
test

   parents  has_nurs  form children  housing  finance  social  health
0        2         4     1        2        1        0       1       2
1        0         3     1     more        1        1       0       0
2        1         4     0        3        0        0       2       1
3        0         2     2     more        0        0       2       1
4        2         4     1        1        0        0       2       1
5        2         0     2        1        0        0       2       1
6        2         0     2        1        0        0       0       2
7        0         3     1     more        1        1       2       0
8        0         4     1     more        0        0       0       1
9        2         4     1        1        0        0       0       1

In [37]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [38]:
train.head()

,parents,has_nurs,form,housing,finance,social,health,NURSERY,children_1,children_2,children_3,children_more
0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,1,0,0,1,1,1,0,0,1,0,0
2,0,2,0,1,1,0,1,1,0,0,1,0
3,2,2,0,1,0,2,1,1,0,0,0,1
4,1,0,1,2,1,1,0,0,1,0,0,0

In [40]:
test.head()

,parents,has_nurs,form,housing,finance,social,health,children_1,children_2,children_3,children_more
0,2,4,1,1,0,1,2,0,1,0,0
1,0,3,1,1,1,0,0,0,0,0,1
2,1,4,0,0,0,2,1,0,0,1,0
3,0,2,2,0,0,2,1,0,0,0,1
4,2,4,1,0,0,2,1,1,0,0,0

In [41]:
train_label = train["NURSERY"]
train = train.drop("NURSERY", axis = 1)

In [42]:
train

,parents,has_nurs,form,housing,finance,social,health,children_1,children_2,children_3,children_more
0,0,0,0,0,0,0,0,0,0,1,0
1,1,1,0,0,1,1,1,0,1,0,0
2,0,2,0,1,1,0,1,0,0,1,0
3,2,2,0,1,0,2,1,0,0,0,1
4,1,0,1,2,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12945,1,1,0,2,1,1,2,0,0,1,0
12946,0,3,0,2,0,2,2,1,0,0,0
12947,2,4,1,2,1,0,2,1,0,0,0
12948,0,0,1,2,1,0,0,0,0,0,1
12949,1,1,1,1,1,1,1,0,0,1,0

In [43]:
train_label

0        0
1        0
2        1
3        1
4        0
        ..
12945    2
12946    2
12947    2
12948    0
12949    0
Name: NURSERY, Length: 12950, dtype: int64

In [44]:
def train_and_test(model):
    model.fit(train, train_label)
    prediction = model.predict(test)
    accuracy = round(model.score(train, train_label) * 100, 2)
    print("Accuracy: ", accuracy, "%")
    return prediction

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [46]:
#LR
log_pred = train_and_test(LogisticRegression())

#SVM
svm_pred = train_and_test(SVC())

#kNN
knn_pred = train_and_test(KNeighborsClassifier(n_neighbors = 10))

#rf
rf_pred = train_and_test(RandomForestClassifier(n_estimators = 100))

#NB
nb_pred = train_and_test(GaussianNB())

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy:  74.98 %
Accuracy:  91.78 %
Accuracy:  96.48 %
Accuracy:  99.23 %
Accuracy:  58.76 %

In [49]:
knn_pred

array([2, 0, 1, 1, 1, 1, 2, 0, 1, 3], dtype=int64)

In [ ]:
2, 0, 1,1,1,1, 2, 0, 1,1



{'spec_prior':0, 'priority':1, 'not_recom':2, 'very_recom':3}

In [50]:
train = pd.read_csv("train_1.txt")

In [52]:
test = train[10500:]

In [53]:
test

,parents,has_nurs,form,children,housing,finance,social,health,NURSERY
10500,usual,critical,completed,1,convenient,inconv,slightly_prob,priority,priority
10501,usual,improper,foster,3,convenient,inconv,slightly_prob,priority,priority
10502,great_pret,critical,foster,3,less_conv,convenient,nonprob,priority,spec_prior
10503,great_pret,very_crit,incomplete,3,convenient,convenient,problematic,not_recom,not_recom
10504,usual,improper,complete,2,critical,convenient,problematic,recommended,priority
...,...,...,...,...,...,...,...,...,...
12945,great_pret,improper,incomplete,3,critical,inconv,problematic,not_recom,not_recom
12946,pretentious,very_crit,incomplete,1,critical,convenient,slightly_prob,not_recom,not_recom
12947,usual,proper,completed,1,critical,inconv,nonprob,not_recom,not_recom
12948,pretentious,critical,completed,more,critical,inconv,nonprob,priority,spec_prior
12949,great_pret,improper,complete,3,less_conv,inconv,problematic,recommended,spec_prior

In [54]:
train= train[:10500]